.App {
  text-align: center;
}

.filtersSection {
  padding: 10px;
  background-color: #d1d5db;
  border-width: 3px;
  border-color: #6b7280;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

.filterInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 800px) {
  .filterInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
}

.singleFilterInput {
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media (max-width: 800px) {
  .singleFilterInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
}
